<div class="container" mt-5>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
  <mat-grid-tile >
   <img src="../../assets/pexels-goumbik-574073.jpg" alt="" srcset="" style="width: 100%; height: 100%; object-fit: cover;" routerLink="/employee">
  </mat-grid-tile>
  <mat-grid-tile> <img src="../../assets/pexels-alleksana-4271927.jpg" alt="" srcset="" style="width: 100%; height: 100%;cursor:pointer; object-fit: cover;"></mat-grid-tile>
  <mat-grid-tile> <img src="../../assets/pexels-alleksana-4271927.jpg" alt="" srcset="" style="width: 100%; height: 100%; object-fit: cover;"></mat-grid-tile>
  <mat-grid-tile> <img src="../../assets/pexels-alleksana-4271927.jpg" alt="" srcset="" style="width: 100%; height: 100%; object-fit: cover;"></mat-grid-tile>
</mat-grid-list>
</div>
