<div class="container">
  <div class="d-flex">
  <button mat-raised-button class="ms-auto" routerLink="/employee-list">add new employee</button>
</div>
  <div class="card p-5 mt-2">
    <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
     <!-- <mat-form-field appearance="outline">
        <mat-label>Employee Id</mat-label>
        <input matInput placeholder="Placeholder" name="employeeId" disabled>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>-->

      <mat-form-field appearance="outline">
        <mat-label>Employee name</mat-label>
        <input matInput placeholder="Placeholder"  name="employeeName" [(ngModel)]="employee.employeeName">
        <mat-icon matSuffix>person</mat-icon><!--write the name of any icon from fonts.google.com without downloading the icon -->

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Employee adress</mat-label>
        <input matInput placeholder="Placeholder"  name="employeeAddress" [(ngModel)]="employee.employeeAddress">
        <mat-icon matSuffix>shome_pin</mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee Contact Number</mat-label>
        <input matInput placeholder="Placeholder"  name="employeeContactNumber" [(ngModel)]="employee.employeeContactNumber">
        <mat-icon matSuffix>phone_enabled</mat-icon>

      </mat-form-field>



      <mat-form-field>
        <mat-label>choose your department</mat-label>
        <mat-select name="employee Department"  [(ngModel)]="employee.employeeDepartment">
          <mat-option>None</mat-option>
          <mat-option value="it">IT</mat-option>
          <mat-option value="network">Network</mat-option>
          <mat-option value="finance">Finance</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <label>Gender</label>
        <mat-radio-group aria-label="Select an option">
          <!--add events and define the functions inside employee componenets.ts-->
          <mat-radio-button (click)="selectGender('M')" value="m">M</mat-radio-button>
          <mat-radio-button (click)="selectGender('F')" value="f">F</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="outline" class="mt-2">
        <mat-label> Employee skills</mat-label>
        <input matInput placeholder="Employee skills"  name="employeeSkills" [(ngModel)]="employee.employeeSkills" disabled>
        <mat-icon matSuffix>menu_book</mat-icon>

      </mat-form-field>

      <div>
        <label for="skills">skills</label>
        <section class="example-section">
          <mat-checkbox (change)="onSkillschanges($event)" value="java" class="example-margin">java</mat-checkbox>
          <mat-checkbox (change)="onSkillschanges($event)" value="angular" class="example-margin">angular</mat-checkbox>
          <mat-checkbox (change)="onSkillschanges($event)" value= "spring boot" class="example-margin">spring boot</mat-checkbox>

        </section>
      </div>
      <mat-divider></mat-divider>
      <div class="text-center mt-3 ">
        <button mat-raised-button class="m-2">clear</button>
        <button mat-raised-button color="primary" class="m-2">save</button>

      </div>
    </form>
  </div>
</div>
